<%- include("header") -%>

  <body>

    <div class="box" id="heading">
      <h1>
        <%= listTitle %>
      </h1>
    </div>

    <div class="box">
      <% for (let index=0; index < newListItems.length; index++) { %>

        <div class="item">
          <input type="checkbox">
          <p>
            <%= newListItems[index] %>
          </p>

        </div>
        <% } %>

          <form class="item" action="/" method="post">

            <input type="text" name="newItem" placeholder="Enter New Item" autocomplete="off" />

            <button type="submit" name="list" value="<%= listTitle %>">+</button>
          </form>
    </div>


  </body>

<%- include("footer") -%>